/* ==UserStyle==
@name           Arcanum Adjustments
@namespace      .
@version        1.0.3
@description    Basic Arcanum CSS Adjustments
@updateURL      https://nyanpals.com/usercss/arcanum.user.css
@author         gokiburikin
==/UserStyle== */

    :root body.compact {
        --tiny-gap: 0.1em;
        --small-gap: 0.25em;
        --background-color: #FAFAFA;
        --button-text-color: #000C;
        --action-button-border-color: #000C;
        --accent-color: #8DF;
        --accent-color-hover: #6BD;
        --accent-color-active: #28A;
        --quiet-text-color: #888;
        --very-quiet-text-color: #AAA;
        --separator-color: #AAA;
        --list-entry-background: #00000007;
        --list-entry-border-radius: 8px;
    }
    :root body.compact.darkmode {
        --button-text-color: #FFF;
        --action-button-border-color: #FFF;
    }

    :root body.compact * { box-sizing: border-box; }



    /* General Changes */

    .compact div.div-hr { border: none; }
    .compact .table-head { border: none; }
    .compact .player-view input[type=text] { border: none; background: transparent; font-size: 1em; cursor: text; position: relative; }
    .compact .player-view table:first-child tr:first-child th::before { content: '✎'; top: 20px; left: 0; color :#AAA; width: 100%; height: 100%; }
    .compact table.item-table tr, table.item-table th { max-height: unset; padding: unset; }




    /* Main Layout */

    .compact div.full:first-child { display: flex; margin: 0; }
    .compact body div.full div.top-bar { border-bottom: 1px solid var(--separator-color); margin: 0; padding:0;}
    .compact body div.full div.top-bar .load-opts { display: flex; align-items: center; width: unset; }
    .compact body div.full div.game-main { flex: 1; margin-top: 0; max-height: unset; min-height: 0; }
    .compact body div.full div.game-mid { border-left: 1px solid var(--separator-color); border-right: 1px solid var(--separator-color); margin: 0; }
    .compact body div.full div.game-mid .menu-content {
        margin: 0; min-height: 0; max-height: unset; overflow-y: auto;
        border-top: none;
    }
    body.compact div.full div.game-mid .menu-items { border-bottom: 1px solid var(--separator-color); margin: 0; padding: var(--small-gap); text-transform: capitalize; }
    body.compact { overflow: hidden; margin: 0; background: var(--background-color); }
    .compact .game-mid .menu-content { padding:0; }

    .compact .item-popup { opacity: 0.90; }
    .compact .top-bar { min-height: 60px; }
    .compact button { color: var(--button-text-color); border: 1px solid #0006; }
    .compact button { outline: none; }
    .compact button:disabled { opacity: 0.3; color: unset; }
    .compact .action-btn { border: 2px solid transparent; padding: 1px; }
    .compact .action-btn.running { border: 2px dashed #000; }
    body.compact.darkmode .action-btn.running { border: 2px dashed var(--action-button-border-color); }
    .compact .checks > span { flex: 1; }

    /*.items div.dot-view { display: flex; flex-flow: row; justify-content: flex-start; }*/





    /* Top Bar */

    body.compact div.full div.top-bar .items { margin: 0; flex: 1; }
    body.compact  div.full div.top-bar .items div.dot-view {
        display: grid; grid-auto-columns: 1fr; grid-template-rows: 1fr;  grid-auto-flow: column;
        grid-gap: 1px; margin: var(--small-gap);
    }
    body div.full div.top-bar .items div.dot-view .dot {
        flex: 1; margin: 0; padding: 0.1em; font-size: 0.75em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
        border: none; outline: 1px solid #AAA;
    }
    body div.full div.top-bar .load-opts .text-button { max-height: unset; }
    body div.full div.top-bar .link-bar { margin: 0; flex-grow: unset; }



    /* Action List */

    .compact .game-mid .menu-content .main-actions > div.action-list button { flex: 1; }
    .compact .game-mid .menu-content .main-actions > div.action-list,
    .compact .game-mid .menu-content .main-actions > div.upgrade-list {
        margin: 0; padding: var(--small-gap);
        display:flex; flex-flow: row wrap;
    }
    .compact .game-mid .menu-content .main-actions > div.action-list .runnable button {background: var(--accent-color); }
    .compact .game-mid .menu-content .main-actions > div.action-list .runnable button:hover {background: var(--accent-color-hover); }
    .compact .game-mid .menu-content .main-actions > div.action-list .runnable button:active {background: var(--accent-color-active); }
    .compact .game-mid .menu-content .action-btn { flex-basis: 25%; margin: 0; box-sizing: border-box;  }
    .compact .game-mid .menu-content .action-btn button { width: 100%; height: 100%; word-break: break-word; text-transform: capitalize; }





    /* Bars */

    /*div.bar { border: 2px solid #000; overflow: hidden; padding: unset; position: relative; background: #000A; }*/
    .compact div.bar { position: relative; }
    .compact div.bar .bar-text {
        font-size: 0.7rem; position: absolute; top:50%; right: 0em; transform: translate( 0, -50% );
        text-align: right; padding: 0 0.2em 0 0.75em; color: #000; background: #FFF8; border-radius: 16px 0 0 16px;
        line-height: 10px; border: 1px solid #0006; margin-right: -1px;
    }
   .compact  div.bar {
        border: 1px solid #000A; box-sizing: border-box;
        display: flex; align-items: center; margin: 0;
        overflow: hidden; padding: unset; background: #0001; height: 20px; min-height: unset;
    }
    .compact div.bar .fill {
        height: 100%; border-right: 1px #0003 solid; margin-right: -1px;
    }
   .compact div.hp .fill, div.hp .bgfill { background: #D57; }
   .compact div.nature .fill, div.nature .bgfill { background: #285; }
   .compact div.mana .fill, div.mana .bgfill { background: #0AC; }
    .compact .wrapped-btn { margin: unset; min-width: unset; padding: 2px; }




    /* Log */

    .compact .game-main div.log-view { display: flex; border-left: 1px solid var(--separator-color); min-width: 200px; }
    .compact .game-main div.log-view .outlog { overflow-y: scroll; flex-direction: column; font-size: 0.75em; }
    .compact .game-main div.log-view div.top-span { max-height: unset; margin: 0; }
    .compact .game-main div.log-view div.top-span .checks {
        display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr;
        height: 50px; align-items: center;
        font-size: 0.8em;
    }
    .compact .game-main div.log-view div.top-span .checks span { flex-basis: 50%; overflow: hidden; white-space: nowrap; }
    .compact .game-main div.log-view div.log-item { padding: var(--small-gap); margin: 0; border-bottom: 1px dotted #DDD; }
    .compact .game-main div.log-view div.log-item br { display: none; }




    /* Home */

    .compact .menu-content div.home-view { flex-flow: column; overflow: hidden; padding: 0 }
    .compact .menu-content div.home-view .cur-home { margin: 0; padding: var(--small-gap); }
    .compact .menu-content div.home-view .cur-home br { display: none; }
    .compact .menu-content div.home-view .furniture {
        flex: 1; flex-flow: column; display: flex; flex-direction: column; height: 100%; margin: 0; min-height: 0;
    }
    .compact .menu-content div.home-view .furniture .item-table {
        text-transform: capitalize; overflow-y: scroll; flex: 1; min-height: 0; display: flex; flex-direction: column;
    }
    .compact .menu-content div.home-view .furniture .item-table tr { display: flex; }
   .compact  .menu-content div.home-view .furniture .item-table tr:first-child { position: sticky; top: 0; background: #EEE; z-index: 1; }
    .compact .menu-content div.home-view .furniture .item-table tr > *:nth-child(1) { flex-basis: 10%; }
    .compact .menu-content div.home-view .furniture .item-table tr > *:nth-child(2) { flex-basis: 40%; }
    .compact .menu-content div.home-view .furniture .item-table tr > *:nth-child(3) { flex-basis: 10%; }
    .compact .menu-content div.home-view .furniture .item-table tr button { margin: 0; font-size: 0.75em; }
   .compact  .menu-content div.home-view .homes-view { flex-flow: row wrap; display: flex; }
    .compact .menu-content div.home-view .homes-view span { flex-basis: 20%; margin: 0; padding: 0; box-sizing: border-box; display: flex; }
   .compact  .menu-content div.home-view .homes-view span button { flex: 1; font-size: 0.75em; }

    /* Main */




    /* Adventure */

    .compact .menu-content div.adventure {
        padding: 0; margin: 0;
        display: flex; flex-flow: column;
        min-height: 0; height: 100%;
        box-sizing: border-box; overflow: hidden;
    }
    .compact .menu-content div.adventure { min-height: unset; margin: 0; overflow: hidden; flex: 1; }
    .compact .menu-content div.adventure .dungeon-list { overflow-y: auto;  padding: var(--small-gap); flex: 2; }
    .compact .menu-content div.adventure .log {
        margin: 0; flex: 1; font-size: 0.75em; border-left: 1px solid var(--separator-color);
        display:  flex; flex-direction: column;
    }
    .compact .menu-content div.adventure .log span { padding: var(--small-gap); }
    .compact .menu-content div.adventure .log .outlog { overflow-y: auto; overflow-x: hidden; }
    .compact .menu-content div.adventure .log .outlog > * { border-bottom: 1px dotted #DDD; width: 100%; padding: var(--small-gap); }
    .compact .menu-content div.adventure .active-dungeon { padding: var(--small-gap);}
    .compact .menu-content * div.filter-box{ margin: 0; padding: var(--small-gap); }



    /* Dungeons */
    .compact .menu-content div.adventure > div.locales {
        /*display: flex; flex-flow: row wrap; justify-content: space-around;*/
        display: grid; grid-template-columns: 1fr 1fr 1fr; grid-auto-rows: min-content; grid-gap: var(--small-gap);
        padding: var(--small-gap);
        border-top: 1px solid var(--separator-color);
    }
    .compact .menu-content div.adventure > div.locales .locale {
        padding: var(--small-gap);
        background: var(--list-entry-background); border-radius: var(--list-entry-border-radius);
    }
    .compact .menu-content div.adventure > div.locales .locale > span:nth-child(1) {
        display: flex; flex-flow: row; justify-content: space-between; align-items: center
    }



    /* Combat */

    .compact .adventure .inv.item-table { overflow-y: auto; min-height: 0; display: flex; flex-direction: column; margin: 0; padding: var(--small-gap); }
    .compact .adventure .inv.item-table tr { display:flex; padding: 0.1em; }
    .compact .adventure .inv.item-table tr td { padding: 0; }
    .compact .adventure .inv.item-table tr td:first-child { flex: 1; }
    .compact .adventure .inv.item-table tr td button { margin: var(--tiny-gap); padding: var(--small-gap) 0.5em;  }
    .compact .adventure .inv.item-table:empty { display: none; }
    .compact .adventure .combat {
        border-top: 1px solid var(--separator-color); border-bottom: 1px solid var(--separator-color);
        flex-flow: row; display: flex; flex-direction: row; width: unset;
    }
    .compact .adventure .combat .group {
        border: none; display: grid; grid-template-columns: 1fr 1fr; grid-auto-rows: min-content;
        margin: 0; padding: var(--small-gap); flex: 1; max-width: unset;
    }
    .compact .adventure .combat .group > span { grid-column: 1/3; border-bottom: 1px solid var(--separator-color); }
    .compact .adventure .combat .group > div { margin: var(--small-gap); }
    .compact .adventure .combat .group hr { display: none; }

    .compact .adventure div.raid-bottom { padding: 0; }
    .compact .adventure div.raid-bottom > .inv { flex-basis: 50%; margin: 0; box-sizing: border-box; }
    .compact .adventure div.raid-bottom > .log { flex-basis: 50%; margin: 0; }





    /* Skills */

    .compact .game-mid div.skills { padding: 0; }
    .compact .game-mid div.skills div.skill {
        margin-bottom: 0; width: unset; flex-basis: 45%; box-sizing: border-box;
        padding: var(--small-gap); text-transform: capitalize; font-size: 0.85em;
        background: var(--list-entry-background); border-radius: var(--list-entry-border-radius);
    }
    .compact .game-mid div.skills div.skill button { font-size: 0.75em; }
    .compact .game-mid div.skills div.skill > div { font-size: 0.75em; position: relative; text-align: right; display: flex; flex: 1;  align-items: center; }
    .compact .game-mid div.skills div.skill > div > div { flex: 1; }
    .compact .game-mid div.skills div.skill > div > div .bar { max-height: 6px; background: #0001; border: none; margin: 0.5em }
    .compact .game-mid div.skills div.skill > div > div .bar .fill { background: #4BD; }
    .compact .game-mid div.skills div.skill .separate { display: flex; }
    .compact .game-mid div.skills div.skill .separate span:nth-child(2) {
        flex-basis: 40%; display:flex; align-items: center; justify-content: space-between; color: var(--quiet-text-color);
    }
   .compact  .game-mid div.skills div.skill .separate span:nth-child(2) button { }
    .compact .game-mid div.skills div.subs {
        /*display: flex; flex-flow: row wrap; width: 100%; justify-content: space-evenly; */
        display: grid; grid-template-columns: 1fr 1fr;
        margin: 0; padding: var(--small-gap);
        width: 100%; grid-gap: var(--small-gap);
    }




    /* Vitals */

    .compact .full div.vitals { text-transform: capitalize; margin: 0; padding: var(--small-gap); min-width: 200px; overflow-y :auto; overflow-x: hidden; }

    .compact .runnable button:hover { background: #dba659; }
    .compact .text-button:hover { background-color: rgb(194, 194, 194); }
    .compact .text-button:active { background-color: rgb(121, 121, 121); }

    /* Quickbar */

    .compact .bot-bar { border-top: 1px solid var(--separator-color); padding: var(--small-gap); }
    .compact .bot-bar .use-msg { display: none; }
    .compact .bot-bar div.quickbar { margin: 0; cursor: default; }
    .compact .quickslot { cursor: pointer; }
    .compact .quickslot div.remove { background: #FFF6; color: #444; border: none; }


    .compact .skill div:last-child { color: #999;}
    .compact .menu-items .menu-item { color: #000; }
    body.compact.darkmode .menu-items .menu-item { color: #FFF; }
    .compact .menu-items .menu-item u { color: #999; }
    .compact .menu-items .menu-item:hover, .menu-items .menu-item u:hover { color: #33F; }
    .compact .dungeon > span:first-child { flex-basis: 40%; }
    .compact .dungeon button { white-space: nowrap; }




    /* Equip */

    .compact .game-mid div.inv-equip { padding: 0; flex-flow: column; overflow-y: unset; justify-content: unset; }
    .compact .game-mid div.inv-equip .item-table {
        /*display: flex; flex-flow: column;*/
        margin: 0;
        display: grid; grid-template-columns: 1fr 1fr;
    }
    .compact .game-mid div.inv-equip .item-table tr {
        display: flex; flex-flow: row; justify-content: flex-end;
        padding: 0 var(--small-gap);
    }
    .compact .game-mid div.inv-equip .item-table tr :first-child { flex: 1; }
    .compact .game-mid div.inv-equip .item-table tr button { margin: 0; padding: var(--small-gap); }
    .compact .game-mid div.inv-equip .item-table tr button:first-child:not(:last-child) { border-right: none; }
    .compact .game-mid div.inv-equip .item-table td { display: flex; }
    .compact .game-mid div.inv-equip > div:nth-child(2) {
        padding: var(--small-gap); border-top: 1px solid var(--separator-color);
    }

    .compact table.equip {
        /*display: flex; flex-direction: column;*/
        flex-basis: 65%; overflow-y: auto;
        display: grid; grid-template-columns: 1fr 1fr; grid-gap: var(--small-gap); padding: var(--small-gap);

    }
    .compact table.equip .equip-slot {
        display: flex;height: unset; flex-flow: column; margin: 0; padding: var(--small-gap);
        background: var(--list-entry-background); border-radius: var(--list-entry-border-radius);
    }
    .compact table.equip .equip-slot .slot-name {  }
    .compact table.equip .equip-slot .slot-item {
        display: flex; flex-flow: column; text-indent: 1em;
    }
    .compact table.equip .equip-slot .slot-item > div:only-child {
        width: 100%; display:flex; flex-flow: column; position: relative; line-height: 32px; justify-content: center;
    }
    .compact table.equip .equip-slot .slot-item > div button { margin-left: auto; position: absolute; right: 0; margin: 0; }



    /* Player */

    .compact .menu-content div.player-view { display: flex; padding: 0; flex-flow: column wrap; }
    .compact .menu-content div.player-view table {
        display: flex; flex-direction: column; align-items: flex-start; flex:1; text-transform: capitalize;
        overflow-y: auto; overflow-x: hidden; width: 50%;
    }
    .compact .menu-content div.player-view table tr { display: flex; align-items: flex-start; width: 100%; }
    .compact .menu-content div.player-view table tr:not(:first-child) { padding: 0 var(--small-gap); box-sizing: border-box; }
    .compact .menu-content div.player-view table tr:not(:first-child) td:first-child { color: #999; }
    .compact .menu-content div.player-view table tr th { flex: 1; text-align: right; }
    .compact .menu-content div.player-view table tr:not(:first-child):not(:last-child) { border-bottom: 0 dotted #CCC; }
    .compact .menu-content div.player-view table .inline { display: flex; flex-flow: column; justify-content: flex-end; }
    .compact .menu-content div.player-view table .inline .upgrade-list { display: flex; flex-flow: row wrap; }
    .compact .menu-content div.player-view table .inline .upgrade-list .action-btn { flex-basis: 50%; }

    .compact .menu-content div.player-view div.up-list {
        padding: 0; text-align: right; width: 50%; overflow-x: hidden; border-left: 1px solid #EEE;
    }
    .compact .menu-content div.player-view div.up-list div { padding-right: var(--small-gap); }
    .compact .menu-content div.player-view div.up-list div:first-child { padding: 2px; }
    .compact .menu-content div.player-view div.up-list div:not(:first-child) { color: var(--quiet-text-color); }
    .compact .menu-content div.player-view div.up-list div:not(:first-child):not(:last-child) { border-bottom: 0px dotted #CCC; }

    .compact .menu-content div.player-view input[type=text].fld-name { margin: 0; }

    .compact .player-view table tr:first-child,
    .compact .player-view .up-list div:first-child{ position: sticky; top: 0; background: #EEE; }
    /* mount name span */
    .compact span[data-v-6f6112d4] { display:block; }


    /* Spellbook */

    .compact .game-mid div.spellbook { flex-direction: column; padding: 0; }
    .compact .game-mid div.spellbook .spell-table { order: 2; padding: var(--small-gap); margin: 0; }
    .compact .game-mid div.spellbook .spell-table table { display: flex; flex-flow: row wrap; justify-content: space-between; }
    .compact .game-mid div.spellbook .spell-table table tr { display:flex; flex-basis: 48%; }
    .compact .game-mid div.spellbook .spell-table table tr td:nth-child(1), .spellbook table tr td:nth-child(3) { flex-basis: 20%; order: 3; }
    .compact .game-mid div.spellbook .spell-table table tr td:nth-child(2) { flex: 1; order: 1;}
    .compact .game-mid div.spellbook .spell-table table tr td:nth-child(3) { flex-basis: 20%; order: 2; }
    .compact .game-mid div.spellbook .spell-table table td { display: flex; }
    .compact .game-mid div.spellbook button { flex: 1; font-size: 0.75em; margin: 0; }

    .compact .game-mid div.spellbook .filters {
        order: 1; flex-flow: row wrap; display: flex; text-align: center;
        border-bottom: 1px solid var(--separator-color);
        margin: 0; padding: var(--small-gap); line-height: 2em; justify-content: flex-start;
    }
    .compact .game-mid div.spellbook div.filters div { box-sizing: border-box; margin: 0; }
    .compact .game-mid div.spellbook div.filters div:nth-child(1),
    .compact .game-mid div.spellbook div.filters div:nth-child(2) {
        flex-basis: 50%;
    }
    .compact .game-mid div.spellbook div.filters input[type=text] { padding: var(--small-gap) 0 var(--small-gap) 0; }
    .compact .game-mid div.spellbook div.filters > div input[type=text],
    .compact .game-mid div.spellbook div.filters > div input[type=number] {
        flex: 1; margin-right: 1em; margin-left: 1em; min-width: unset; max-width: unset; width: 0;
    }
    .compact .game-mid div.spellbook div.filters > div { display: flex; align-items: center; }
    .compact .game-mid div.spellbook div.filters > div label { flex-basis: 20%; }
    .compact .game-mid div.spellbook div.filters > div input { min-width: 0; padding: 0; text-indent: var(--small-gap); }
    .compact .game-mid div.spellbook div.filters div.checks { margin: 0; padding: 0 0.5em; flex-basis: unset; }


    /* Beastiary */

    .compact .game-mid .menu-content > div.bestiary { padding: 0; margin: 0; }
    .compact .game-mid .menu-content > div.bestiary .char-list { padding: 0; margin: 0; }

    /* Minions */

    .compact div.bestiary[data-v-ee7d6c4a] {
        display: flex;
        flex-flow: column;
    }

    /* Resources */


    .compact .game-main div.resource-list { margin: 0; padding: var(--small-gap); min-width: 200px; max-width: unset; }
    .compact .game-main div.resource-list .item-name:not(.locked) { display: flex; }
    .compact .game-main div.resource-list .item-name td:first-child { flex: 1; }
    .compact .game-main div.resource-list tr td:first-child { color:  #999; }
    .compact .game-main div.resource-list tr td:last-child { text-align: right; }
