
.main {
	display:flex;
	width: 100%;
	margin: 0px;
}

ul {
	list-style-type: none;
	padding: 2px;
}

input[type="button"], button {

	border: 1pt solid darkgray;
	border-radius: 2px;
	padding: 8px;
	margin: 4px;

}

input[type="button"]:enabled:active, button:enabled:active {
	background-color: rgb( 100, 100,100);
}

.locked {
	display:none;
}

.item-name {
	text-transform: capitalize;
}

.item-popup {
	display:none;
	height:auto;
	min-height:100px;
	min-width:200px;
	position: absolute;
	z-index:10000;
	top:0;
	background:white;
	border: 1.5px solid rgb( 100, 100,100);
	border-radius: 0.20rem;
}
.popup-content {
	padding: 10px;
}
.show {
	display: inline-block;
}

.mid-view {
	flex-basis:64%;
	margin: 12px 8px;
}

.action-list {
	flex-direction: row;
	margin: 12px 8px;
	text-transform: capitalize;
}

.homes-view {
	display:flex;
	margin: 12px 24px 0px 8px;
	flex-direction: column;
}

.resource-list, .upgrade-list {
	margin: 12px 8px;
	width: fit-content;
	min-width: 170px;
}

.action-btn {
	min-width: 16ch;
	text-transform: capitalize;
}

.item-popup .name {
	font-weight: bold;
}
.item-popup .flavor {
	font-style: italic;
}

.skill {
	padding:2px;
}

.exp-bar {
	background: #333;
	padding:2px;
	border-radius: 10px;
}
.exp-bar > div {
	background:orange;
	border-radius: 8px;
	height:100%;
	width:0%;
}

.outlog {
	flex-direction: column;
}

.log-item {
	display:flex;
	flex-direction: column;
}

.log-title {
	font-weight: bold;
}

.log-text {
	font-weight: normal;
	text-align: right;
	align-self: flex-end;
}

.menu {
	display:flex;
	flex-direction: column;
}

.menu-items {
	display:flex;
	flex-direction: row;
}

.menu-item {
	font-size: 1em;
	margin: 2px 10px;
}