
ul {
	list-style-type: none;
	padding: 2px;
}

input[type="button"], button {

	border: 1pt solid darkgray;
	border-radius: 2px;
	padding: 8px;
	margin: 4px;

}

input[type="button"]:enabled:active, button:enabled:active, .hilite {
	background-color: rgb( 100, 100,100);
}

.action-btn {
	display:inline-block;
	margin: 4px;
	text-transform: capitalize;
}

.wrapped-btn {
	margin:0px;
	min-width: 16ch;
}

.locked {
	display:none;
}

.item-name {
	text-transform: capitalize;
}

.running {
	border: 2px dashed #202020;
	padding: 1px;
}

.runnable button {
	background: #fdc679;
}

div.action-list, div.upgrade-list {
	flex-direction: row;
	text-transform: capitalize;
}

div.resource-list, div.center-view,
div.upgrade-list {
	margin: 20px 2px 2px;

}

div.center-view, div.home-view {
	display:flex;
	flex-direction: row;
}

div.homes-view {
	display:flex;
	flex-direction: column;
}

div.resource-list {
	width: fit-content;
	min-width: 230px;
}

div.skill {
	padding:2px;
	margin:4px 0px;
	max-width: 33%;
}



span.separate {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

.note-text {
	padding:0px;
	margin:8px 0px;
	font-style: italic;
	font-size: 0.85em;
}

div.stamina-bar {
	display:inherit;
	margin: 0px 4px;
	flex-grow: 3;
	justify-content: end;
	text-align: end;
}

table.item-table tr, table.item-table th {
	padding: 1px 8px;
}

button.rest-btn {
	padding:3px 8px;
}

div.menu {
	display:flex;
	flex-direction: column;
}

.menu-items {
	display:flex;
	flex-direction: row;
	align-items: center;
}

.menu-item {
	font-size: 1.1em;
	cursor: pointer;
	margin: 20px 10px;
}

div.hp .fill {
	background:#ac0404;
}

div.arcane .fill {
	background:#8011ac;
}

div.mana .fill {
	background: #2531b3;
}

div.fire .fill {
	background:#ce230c;
}

div.ice .fill {
	background:#97e5fc;
}
div.water .fill {
	background:#0479c2;
}
div.air .fill {
	background:#efefef;
}

div.earth .fill {
	background:#c27304;
}

div.shadow .fill {
	background:#3a0e66;
}

div.nature .fill {
	background:#045a04;
}

div.spirit .fill {

	background:#afa5a5;
}

div.light .fill {
	background:#f0c907;
}

div.tempus .fill {
	background:#c27304;
}
div.void .fill {
	background:#1f1e1d;
}