body {
	font-family: 'Open Sans', sans-serif;
}

ul {
	list-style-type: none;
	padding: 2px;
}

input[type="button"], button, .text-button {

	background-color: rgb(226, 224, 224);
	border: 1pt solid darkgray;
	border-radius: 2px;
	padding: 8px;
	margin: 4px;

}

.num-align {
	text-align: right;
}

div.div-hr {
	border-bottom: 1px solid black;
	margin-bottom: 6px;
	padding-bottom:2px;
}


.text-button:link, .text-button:visited {
	color: #111111;
	text-decoration: none;
}

input[type="button"]:enabled:active, button:enabled:active, .hilite {
	background-color: rgb( 100, 100,100);
}

div.inline {
	display:inline-block;
}

.action-btn {
	display:inline-block;
	margin: 4px;
	text-transform: capitalize;
}

.wrapped-btn {
	margin:0px;
	min-width: 16ch;
}

.locked {
	display:none;
}

.item-name {
	text-transform: capitalize;
}

.running {
	border: 2px dashed #202020;
	padding: 1px;
}

.runnable button {
	background: #fdc679;
}

div.center-view, div.home-view {
	display:flex;
	flex-direction: row;
}

div.homes-view {
	display:flex;
	flex-direction: column;
}

div.resource-list {
	width: fit-content;
}


div.skills {
	display:flex;
	width: 100%;
	align-self: flex-start;
	flex-flow: column nowrap;
	align-items: flex-start;
}


span.separate {
	display:flex;
	flex-direction: row;
	justify-content:space-between;
}

.warn-text {
	color:rgb(216, 8, 8);
}
.note-text {
	padding:0px;
	margin:8px 0px;
	font-style: italic;
	font-size: 0.85em;
}

div.stamina-bar {
	display:inherit;
	margin: 0px 4px;
	flex-grow: 3;
	justify-content: end;
	text-align: end;
}

table.item-table {
border-spacing: 0px;
}

table.item-table tr, table.item-table th {
	padding: 1px 8px;
	max-height: 24px;
	border-spacing: 0px;
}

div.outlog {
	display:flex;
	flex-direction: column-reverse;
}

button.rest-btn {
	padding:3px 8px;
}

div.menu {
	display:flex;
	flex-direction: column;
}

.menu-items {
	display:flex;
	flex-direction: row;
	justify-content: center;
}

.menu-item {
	font-size: 1.1em;
	cursor: pointer;
	margin: 20px 10px;
	justify-content: center;
}

div.bgfill {
	position: absolute;
	z-index: -1;
	left: 0px;
	top: 0px;
	display:block;
	opacity: 0.4;
	height: 100%;
	width:100%;
}

div.hp .fill, div.hp .bgfill {
	background:#ac0404;
}

/*div.arcane .fill, div.arcane.bgfill {
	background:#8011ac;
}*/

div.mana .fill, div.mana .bgfill {
	background: #2531b3;
}

div.fire .fill, div.fire .bgfill {
	background:#ce230c;
}

div.water .fill, div.water .bgfill {
	background:#0479c2;
}
div.air .fill, div.air .bgfill {
	background:#efefef;
}

div.earth .fill, div.earth .bgfill {
	background:#c27304;
}

div.shadow .fill, div.shadow .bgfill {
	background:#3a0e66;
}

div.nature .fill, div.nature .bgfill {
	background:#045a04;
}

div.spirit .fill, div.spirit .bgfill {

	background:#afa5a5;
}

div.light .fill, div.light .bgfill {
	background:#f0c907;
}

div.tempus .fill, div.tempus .bgfill {
	background:#c27304;
}
div.void .fill, div.void .bgfill {
	background:#1f1e1d;
}